<header class="bg-white border-b border-gray-200">
  <nav
    class="max-w-screen-md mx-auto px-6 py-4 flex justify-between items-center"
  >
    <a href="/" class="blog-title text-2xl font-light text-gray-900">My Blog</a>
    <ul class="nav-list">
      <li>
        <a href="/tags" class="link-nav">Tags</a>
      </li>
      <li>
        <a href="/about" class="link-nav">About</a>
      </li>
    </ul>
  </nav>
</header>
